<header class="p-4 d-flex justify-content-between align-items-center sticky-top bg-white shadow">
  <div class="d-flex align-items-center">
    <button type="button" class="btn text-muted d-block d-md-none" id="btn-toggle-menu">
      <i class="las la-bars"></i>
    </button>
    <h1 class="h3 m-0">
      <img src="/img/grabsikle_logo.png" width="50" height="50" alt="Grabsikel">
      Grabsikel
    </h1>
  </div>
  <div class="dropdown d-none d-md-block">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      {% if user.picture != null %}
        <img src="/uploads/{{ user.picture }}" width="35" height="35" alt="{{ [user.name.first_name, user.name.last_name] | join(' ') }} picture" class="rounded-circle border">
      {% else %}
        <img src="https://avatars.dicebear.com/api/initials/{{ user.display_name }}.svg?size=30" width="35" height="35" class="rounded-circle border" alt="{{ user.display_name }} initials">
      {% endif %}
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a href="" class="dropdown-item">Profile</a></li>
      <li><a href="/api/logout" class="dropdown-item">Logout</a></li>
    </ul>
  </div>
</header>