{% extends "base.twig" %}

{% block title %}
  Drivers
{% endblock %}

{% block body %}
  <div class="container p-0 min-vh-100">
    <div class="d-flex min-vh-100">
      {% include "admin/layouts/nav.twig" %}
      <main class="col-12 col-md-8 col-lg-9 col-xl-10">
        {% include "admin/layouts/header.twig" %}
        <div class="p-4">
          <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item active" aria-current="page">Drivers</li>
              <li class="breadcrumb-item"><a href="/admin/drivers/create">Create new driver</a></li>
            </ol>
          </nav>
          <form action="/admin/drivers/read" class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 ms-auto mb-4" method="GET">
            <div class="input-group">
              <input type="text" name="q" id="q" class="form-control" placeholder="Search something...">
              <button type="submit" class="btn btn-success">
                <i class="las la-search"></i>
              </button>
            </div>
          </form>
          <div class="row" id="records">
            <div class="col-12 text-center">No data available</div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.querySelector('form');

      const fetch = () => {
        const q = form.q.value;

        axios.get(`${form.action}?q=${q}`)
          .then(res => res.data)
          .then(data => render(data.sub));
      };

      const render = sub => {
        const container = document.getElementById('records');
        container.innerHTML = '';

        if (sub.length <= 0) {
          return container.innerHTML = `
            <div class="col-12 text-center">No data available</div>
          `;
        }

        sub.forEach(x => {
          container.innerHTML += `
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card border-0 shadow mb-4">
                <div class="card-body">
                  <div class="d-flex">
                    ${x.picture ? `
                      <img src="/uploads/${x.picture}" width="50" height="50" class="rounded-circle border" alt="${x.full_name}  picture">
                    ` : `
                      <img src="https://avatars.dicebear.com/api/initials/${x.full_name}.svg?size=50" width="50" height="50" class="rounded-circle border" alt="${x.full_name} picture">
                    `}
                    <div class="ms-3">
                      <h3 class="h5 card-title m-0">${escapeHTML(x.full_name)}</h3>
                      <p class="card-text">
                        <small>${escapeHTML(x.email)}</small><br>
                        <small class="badge rounded-pill ${({ pending: 'bg-secondary', accepted: 'bg-success', rejected: 'bg-danger' }[x.status])}">${escapeHTML({ pending: 'pending', accepted: 'registered', rejected: 'rejected' }[x.status])}</small>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-end">
                  <a href="/admin/drivers/${x._id}/edit" class="btn btn-secondary d-inline-flex align-items-center">
                    <i class="las la-pen fs-6 me-2"></i>
                    <span>Edit</span>
                  </a>
                </div>
              </div>
            </div>
          `;
        });
      };

      form.addEventListener('submit', function(e) {
        e.preventDefault();

        fetch();
      });

      fetch();
    });
  </script>
{% endblock %}
